name: CI - Build & Test

on:
  pull_request:
  push:
    branches:
      - "**"

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Code quality checks
        run: ./gradlew check --no-daemon

      - name: Build JAR
        run: ./gradlew bootJar --no-daemon
