name: CD - Deploy DEV

on:
  push:
    branches:
      - develop
env:
  DOCKER_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/api-test

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Extract version
        run: echo "VERSION=$(./gradlew -q properties | grep '^version:' | awk '{print $2}')" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push DEV image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.DOCKER_IMAGE }}:dev-latest
            ${{ env.DOCKER_IMAGE }}:dev-${{ env.VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
